<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.ssm1.dao.IDepDao" >

  <select id="queryAll" resultType="com.qf.ssm1.entity.Dept">
    select * from dept
  </select>
</mapper>